<div class="robotInd">
  <img src="{{avatar}}" alt="{{name}}">
  <h1>{{name}}</h1>
  <p>{{city}}, {{country}} | {{job}}, {{company}} | {{phone}}</p>
  <span>Education: {{university}}</span>
  <span>Skills: {{skills}}</span>
</div>
