{{>_header}}
    <h1>{{title}}</h1>
    <div class="container">
        {{#robotDirectory}}
            {{>_robot}}
        {{/robotDirectory}}
        {{^robotDirectory}}
            <p>What happen to the Robots?!</p>
        {{/robotDirectory}}
    </div>
{{_footer}}
